
.centered_Arabic{
    font-size: 100%;
    font-family: 'Gill Sans';
    text-align: center;
    position: relative;
    bottom: 70%;
}

.centered_symbols {
    font-size: 300%;
    font-family: 'Gill Sans';
    text-align: center;
    position: relative;
    margin-top: 100px; /* Adjust as needed */
}

.option1, .option2, .option3, .option4 {
    font-size: 1.2vw;
    font-family: 'Gill Sans';
    text-align: center;
    position: absolute;
    height: 95px;
    width: 360px;
    padding: 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    transition: 0.3s;
}

/* Positioning the buttons */
.option1 { top: 150%; left: 22%; }
.option2 { top: 150%; left: 55%; }
.option3 { top: 250%; left: 22%; }
.option4 { top: 250%; left: 55%; }